.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 3rem; }

.teamback, .searchSection .wrapper #marvellink {
  position: relative; }

h1 img, .searchSection .wrapper #marvellink a, .teamback form, .button {
  position: absolute; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 img {
  height: 3rem;
  width: auto;
  top: 1rem;
  left: 3rem;
  background-color: rgba(255, 255, 255, 0.4); }

.teamback {
  z-index: 2;
  background-image: url("../images/marvel-heroes.jpg");
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 25rem; }

header {
  overflow: hidden;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4); }
  header ul {
    text-transform: uppercase; }
  header li {
    float: right; }
  header li a {
    display: inline-block;
    color: #f78f3f;
    text-align: center;
    padding: 2rem;
    text-decoration: none; }
  header li a:hover {
    background-color: #504a4a; }

footer {
  position: bottom;
  background-color: #504a4a;
  color: #f78f3f; }
  footer p {
    text-align: center;
    padding: 2rem;
    margin: 0 auto; }

body {
  background-color: #f78f3f;
  font-style: Arial, sans-serif; }

.searchSection h2 {
  display: inline-block;
  background-color: #504a4a;
  color: #fff;
  padding: .5rem 1rem;
  margin: 1rem; }

.searchSection img {
  max-width: 14rem; }

.searchSection a {
  padding: .5rem 0;
  max-width: 14rem;
  display: block;
  background-color: #e23636;
  color: #fff; }

.searchSection ul {
  margin: 0 auto;
  text-align: center; }

.searchSection li {
  margin: 0 2rem;
  margin-bottom: 1rem;
  display: inline-block;
  vertical-align: top; }

.searchSection .wrapper #marvellink a {
  right: 42.95%;
  left: 42.95%;
  display: block;
  background-color: #518cca;
  color: #fff;
  padding: .5rem 1rem;
  min-width: 138px; }

.teamback form {
  top: 60%;
  left: 50%;
  margin-right: auto;
  transform: translate(-50%, -50%); }
  .teamback form input {
    font-size: 1.3rem;
    outline: none;
    box-sizing: border-box;
    width: 98%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: .3rem;
    color: #555; }

.button {
  border: 1px solid #ccc;
  background-image: url("../images/search.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  border: 2px solid white;
  width: 2rem;
  margin-left: -.4rem;
  height: 2.2rem;
  left: 16.6rem;
  top: 1.01rem; }

.teamback p {
  background-color: #518cca;
  color: #fff; }
