/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media large {
  h1 img {
    position: absolute;
    height: 3rem;
    width: auto;
    top: 1rem;
    left: 3rem;
    background-color: rgba(255, 255, 255, 0.4); }
  .teamback {
    position: relative;
    z-index: 2;
    background-image: url("../images/marvel-heroes.jpg");
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25rem; } }

@media (max-device-width: 699px) {
  h1 {
    display: flex;
    justify-content: center; }
  .teamback img {
    top: 1rem;
    width: 60%;
    height: 1%;
    padding-right: .2rem;
    background-color: darkgrey; }
  .teamback {
    background-image: url("../images/marvel-heroes.jpg");
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: 100%; } }

@media (min-device-width: 1200px) {
  header {
    overflow: hidden;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4); }
    header ul {
      text-transform: uppercase; }
    header li {
      float: right; }
    header li a {
      display: inline-block;
      color: #f78f3f;
      text-align: center;
      padding: 2rem;
      text-decoration: none; }
    header li a:hover {
      background-color: #504a4a; } }

@media (max-device-width: 699px) {
  header {
    text-transform: uppercase;
    position: relative;
    list-style: none; }
    header .hidelist {
      visibility: hidden; }
    header .showlist {
      position: fixed;
      top: 10.5%;
      right: 3%;
      text-align: right;
      z-index: 99;
      color: #fff;
      font-size: 1.6rem; }
      header .showlist li {
        padding: .8rem; }
      header .showlist a {
        text-decoration: none;
        color: #fff; } }

.navbuttonshow {
  display: block;
  position: fixed;
  top: .4rem;
  right: .8rem;
  width: 12%;
  height: 50%;
  background-image: url("../images/hamburger.png");
  background-repeat: no-repeat;
  background-size: 100%; }

.showmenu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 35%;
  background-image: url("../images/close.png");
  background-repeat: no-repeat;
  background-position: 95% 3%;
  background-color: rgba(0, 0, 0, 0.9); }

@media large {
  footer {
    position: bottom;
    background-color: #504a4a;
    color: #f78f3f; }
    footer p {
      text-align: center;
      padding: 2rem;
      margin: 0 auto; } }

@media (max-device-width: 699px) {
  footer {
    background-color: #504a4a;
    color: #f78f3f;
    text-align: center;
    padding: .5rem; } }

body {
  background-color: #f78f3f;
  font-family: Arial, sans-serif; }

@media (max-device-width: 699px) {
  .searchSection {
    text-align: center; }
    .searchSection h2 {
      color: #fff;
      background-color: #504a4a;
      padding: 1.5rem;
      font-size: 1.1rem; }
    .searchSection img {
      width: 100%; }
    .searchSection ul {
      display: flex;
      flex-wrap: wrap; }
    .searchSection li {
      background-color: #504a4a;
      margin: .5rem;
      width: 100%;
      height: 20%;
      padding-bottom: .2rem; }
    .searchSection a {
      color: #518cca; } }

@media (max-device-width: 699px) {
  .teamback form {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; }
    .teamback form input {
      font-size: 1.3rem;
      outline: none;
      box-sizing: border-box;
      background: #fff;
      border: 1px solid #ccc;
      padding: .3rem;
      color: #555;
      background-image: url("../images/search.png");
      background-size: 9%;
      background-position: right;
      background-repeat: no-repeat;
      width: 81.5%; }
    .teamback form .button {
      visibility: hidden; }
    .teamback form p {
      padding: .2rem .5rem;
      background-color: #518cca;
      color: #fff; } }
