$marvelRed: #e23636;
$marvelBlue: #518cca;
$marvelOrange: #f78f3f;
$marvelGrey: #504a4a;
$fontFam: Arial, sans-serif;

$large: "(min-device-width: 1200px)";
$medium: "(min-device-width: 700px)";
$small: "(max-device-width: 699px)";
