// .searchSection {
//   h2 {
//     display: inline-block;
//     background-color: $marvelGrey;
//     color: #fff;
//     padding: .5rem 1rem;
//     margin: 1rem;
//   }
//   img {
//     max-width: 14rem;
//   }
//
//   a {
//     padding: .5rem 0;
//     max-width: 14rem;
//     display: block;
//     background-color: $marvelRed;
//     color: #fff;
//   }
//
//   ul {
//     margin: 0 auto;
//     text-align: center;
//   }
//   li {
//     margin: 0 2rem;
//     margin-bottom: 1rem;
//     display: inline-block;
//     vertical-align: top;
//   }
// }
// .searchSection .wrapper #marvellink {
//   @extend %parent;
// }
// .searchSection .wrapper #marvellink a {
//   @extend %child;
//   right: 42.95%;
//   left: 42.95%;
//   display: block;
//   background-color: $marvelBlue;
//   color: #fff;
//   padding: .5rem 1rem;
//   min-width: 138px;
// }

@media #{$small} {
  .searchSection {
    text-align: center;
    h2 {
      color: #fff;
      background-color: $marvelGrey;
      padding: 1.5rem;
      font-size: 1.1rem;
    }
    img {
      width: 100%;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
    }
    li {
      flex: 1 1 calc(100% - .5rem);
      // flex: 1;
      margin: .5rem;
      width: 50%;
    }
  }
}
