.teamback {
  background-image: url('../images/marvel-heroes.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 12rem;
  header {
    position: relative;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-right: -4rem;
  }
  img {
    background-color: $marvelGrey;
    width: 60%;
    height: auto;
    padding-right: .3rem;
  }
}
.teambackmenu {
  background-color: rgba(0, 0, 0, .9);
  height: 12rem;
  h1,
  form {
    display: none;
  }
}
@media #{$medium} {
  .teamback {
    height: 22rem;

    img {
      width: 42%;
    }
  }
  .teambackmenu {
    height: 22rem;
  }
}
@media #{$large} {
  #menu {
    display: none;
  }
  header {
    background-color: rgba(0, 0, 0, .8);
    height: 5.6rem;
  }
  .teamback {
    h1 {
      justify-content: flex-start;
    }
    img {
      width: 23%;
      position: absolute;
      left: 2rem;
      top: 1rem;
    }
  }
}
