.navbuttonshow {
  display: block;
  position: absolute;
  top: .4rem;
  right: .8rem;
  width: 12%;
  height: 40%;
  background-image: url("../images/hamburger.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.showmenu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10rem;
  background-image: url("../images/close.png");
  background-repeat: no-repeat;
  background-position: 95% 3%;
}
.hidelist {
  visibility: hidden;
}
.showlist {
  position: absolute;
  color: #fff;
  text-align: right;
  right: 0;
  top: 3rem;
  text-transform: uppercase;
  ul {
    z-index: 99;
  }
  li {
    padding: .3rem;
    padding-right: 1rem;
  }
  a {
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
  }
}
@media #{$medium} {
  .navbuttonshow {
    top: 1.4rem;
    right: 1.8rem;
    width: 6%;
    height: 47%;
  }
  .showmenu {
    top: 1.4rem;
  }
  .showlist {
    right: 2rem;
    top: 5rem;
    li {
      padding: 1.3rem;
      padding-right: 1rem;
    }
  }
}
@media #{$large} {
  .hidelist,
  .showlist {
    text-transform: uppercase;
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    li {
      padding: 2.2rem 2rem;
    }
    li:hover {
      background-color: $marvelGrey;
    }
    a {
      text-decoration: none;
      font-size: 1rem;
      color: #fff;
    }
  }
}
